.product-image {
  background-size: cover;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.product-wrapper {
  float: left;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.product-guess-image {
  background-size: cover;
  height: 100px;
  width: 100px;
  overflow: hidden;
  float: left;
  margin-left: 10px;
}

.row-legacy {
  border-left: black 1px solid;
}

.row-guess {
  border-left: black 1px solid;
  // border-right: black 1px solid
  // background-color: #673ab7;

  // &:hover{
  //   background-color: #ccc
  // }
}
