:host {
  // display: flex;
  overflow: hidden;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: 20px;
}

.recent-product-container {
  cursor: pointer;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  // background-color:#dddddd;
  // border:2px solid red;
}

.recent-product-image {
  background-size: cover;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

li {
  min-width: 250px;
  padding-left: 10px;
}
